body{
    box-sizing: border-box;
    margin:0 ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #EFEFEF;
}

.main-section {
    height: 100vh;
    font-size: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title span{
    display: block;
}