body,
html {
  height: 100%;
  margin: 0;
}

.bgimg {
  background-color: rgb(255, 255, 255);
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  /* color: rgb(4, 32, 94); */
  font-family: "Courier New", Courier, monospace;
}

.center {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  text-align: center;
  font-size: 4.3vw;
}

span {
  display: block;
}

.middle img {
  padding: 10px;
  max-width: 40%;
  height: auto;
}

hr {
  margin: auto;
  width: 40%;
}

@media (min-width: 1000px) {
  h1 {
    font-size: 1.5em;
  }
  .middle img {
    max-width: 60%;
  }
  hr {
    width: 60%;
  }
}
